@use "../../../../MAINCSSFORWHOLECOMPONENTS/_IconsForWholeAddressFormPage.scss"
  as *;
@use "../../../../MAINCSSFORWHOLECOMPONENTS/_FontColor.module.scss" as *;

@use "../../../../MAINCSSFORWHOLECOMPONENTS/_ButtonsGroupBackAndNext.module.scss"
  as *;

.boosterSeatCounterWrapper,
.safetySeatCounterWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.boosterSeatIconAndTitleContainer,
.safetySeatIconAndTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.boosterSeatCounterTitle,
.safetySeatCounterTitle {
  @include global_second_title_styles;
}
// .passengerCounterTitle {
// }
.boosterSeatCounterContainer,
.safetySeatCounterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boosterSeatCounterMinusSelf,
.boosterSeatCounterPlusSelf,
.safetySeatCounterMinusSelf,
.safetySeatCounterPlusSelf {
  @include counters-button-styles;
}

.boosterSeatCounterMinusSelf,
.safetySeatCounterMinusSelf {
  @include counters-buttons-minus-icon;
}

.boosterSeatCounterPlusSelf,
.safetySeatCounterPlusSelf {
  @include counters-buttons-plus-icon;
}
