$inputs-background: white;
$inputs-color: black;

@mixin main-inputs-size-and-background-styles-etc {
  width: 100%;
  height: 33px;
  background-color: $inputs-background;
  border: none;
  color: $inputs-color;
  &:focus {
    outline: none;
  }
}

@mixin addressform-inputs-with-icons {
  padding-left: 37px;
  padding-right: 35px;

  background-position-x: 2%;
}
@mixin payment-inputs-with-left-padding {
  padding-left: 11px;
}

@mixin margin-top-bottom-for-adressfrom-inputs {
  margin-top: 15px;
}

@mixin counters-and-switches-icon-margins {
  margin-left: 4px;
  margin-right: 10px;
}
