@use "../../../../MAINCSSFORWHOLECOMPONENTS/_IconsForWholeAddressFormPage.scss"
  as *;

.luggageQuantityWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.luggageQuantityIconAndTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.luggageQuantityCounterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.luggageQuantityIcon {
  @include luggage_icon;
  width: 24px;
  height: 24px;
}
